.section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
}

.info-label {
    -unity-text-align: middle-left;
    font-size: 14px;
    -unity-font-style: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
